.card-columns{
		display: flex;
		margin-left: auto;
   		 margin-right: auto;
		width: 60%;
		
}
.card{
	margin: 5px;
	border: none !important;
	min-width: 40%;
}
.logo{
	height: 20px;
	width: 20px;
}
.div{
	border: 1px solid grey;
	padding: 10px;
}
.card-body{
	padding: 0 !important;
	margin: 0;

}
.p-3{
	padding: 0 !important;
}

p{
	font-size: 13px;
	margin: 2px;
}
.para{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px;
}
.hard{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
}
.grey{
	color: grey;
	font-weight: bold;
	margin-bottom: 2px;
}
.red{
	color: #b53322;
	font-weight: bold;
}
.red-color{
	color: #b53322;
	font-weight: bold;
}
.color-blue{
	color: #0b66c2;
}
span{
	color: grey;
}
.free{
	color: #b53322; 
}

@media (min-width: 576px)
.card-columns .card {
    display: inline-block;
  	min-width: 33%;
    margin:5px;
  
}
